
/* mobile */

@media screen and (max-width: 480px) {

    /* colonna sinistra */
    #container-sinistra{
        width: 50px; 
    }
    
    .logo-big{
        display: none;
    }
    .logo-small{
        display: block;
        width: 30px;
        height: 30px; 
    }

    /* menu */

    .menù li img{
        width: 25px;
        height: 25px;
    }
    .menù li a{
        justify-content: center;
    }

    .menù .testo{
        display: none;
    }

    /* playlists */

    h3{
        display: none;
    }

    .playlists{
        display: none;
    }

    /* utente */

    .utente .testo{
        display: none;
    }
    .utente a{
        justify-content: center;
    }
    .profilo{
        border: none;
    }

    /* container destra */

    /* main */


}