/* mobile */

@media screen and (max-width: 480px) {

    /* colonna sinistra */
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        margin-bottom: 30px;
        max-width: 70%;   
    }

    /* menu */

    .menù li img{
        width: 25px;
        height: 25px;
    }

    .menù li span{
        display: none;
    }

    h3{
        display: none;
    }

    .playlists{
        display: none;
    }

}